:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --hover-border-color: #646cff;
  --game-controller-background-color: #646cff; 
  --background-color: #242424;
  --game-controller-border-color: #ffffff;
  --active-color: yellow;
  --active-color-side: orange;
  --sub-active-color: #ffffff;
  --sub-active-color-side: #dfdfdf;
}
.game-button{
  border-radius: 15px;
  min-width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  font-size: 26px;
  background-color: var(--active-color);
  box-shadow: 0px 4px 0px var(--active-color-side);
  text-shadow: 0px 3px 1px var(--active-color-side);
  -webkit-text-stroke: 1px var(--active-color-side);
  cursor: pointer;
  user-select: none;
}
.game-button:hover{
  box-shadow: 0px 2px 8px 2px var(--active-color);
}
.game-button:active{
  background-color: var(--active-color-side);
  box-shadow: inset 0px 3px 5px var(--background-color);
  font-size: 24px;
}
.game-sub-button{
  background-color: var(--sub-active-color);
  box-shadow: 0px 4px 0px var(--sub-active-color-side);
  min-width: 50px;
  height: 35px;
  margin-bottom: 5px;
  border-radius: 14px;
  color: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  padding: unset;
  cursor: pointer;
  user-select: none;
}
.game-sub-button:hover{
  box-shadow: 0px 5px 0px var(--sub-active-color-side);
  margin-bottom: 6px;
}
.game-sub-button:active{
  box-shadow: inset 0px 0px 3px var(--background-color);
  margin-bottom: 0px;
}
.game-control-component{
  background-color: var(--background-color);
  min-width: 50px;
  height: 50px;
  border: 3px solid var(--game-controller-border-color);
  border-radius: 15px;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

#app {
  padding: 0;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;